@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    background-color: black;
}
/* ***** Cabeçalho ***** */
header{
    display: flex;
    justify-content: center;
    height: 5%;
}

header h1{
    color: #FFF;
    font-size: 50px;
    font-family: 'Staatliches', cursive;
}
/* ***** Quadro ***** */
.all-round{
    display: flex;
}

.all-round h2{
    font-family: 'Kalam', cursive;
}

.square{
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    height: auto;
    margin: 5px;
}

.area{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: 95%;
    justify-content: space-around;
}

.area textarea{
    width: 170px;
    height: 170px;
}

.do{
    width: 370px;
    color: #FFF;
}

.doing{
    width: 370px;
    color: #FFF;
}

.done{
    width: 370px;
    color: #FFF;
}

/* ***** Area do bloco de notas ***** */
.blocks{
    width: 180px;
    margin: 10px;
    text-align: center;
}

.blocks h3{
    color: #FFF;
    font-family: 'Kalam', cursive;
}

.cores{
    display: flex;
    margin-bottom: 10px;
}

.size{
    height: 20px;
    width: 45px;
}

.color-azul{
    background-color: #0000FF;
}

.color-verde{
    background-color: #00FF7F;
}

.color-Amarelo{
    background-color: #FFFF00;
}

.color-rosa{
background-color:#FF1493;
}

.blocks textarea{
    width: 170px;
    height: 170px;
}

textarea{
    font-size: 20px;
}

/* ***** Eventos ***** */
.hover{
    background-color: #D3D3D3;
}

.blocks textarea.dragging{
    opacity: 0.5;
}

/* configurando o scrollbar */
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-track{
	background: #000;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb{
	background: #FFFF00;
	border-radius: 30px;
}

